# Python
__pycache__/
*.pyc

# Virtual Environment (VERY IMPORTANT)
venv/

# Environment variables (you already have .env in root)
.env

# Build files
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Optional (only if frontend grows later)
node_modules/